body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.container {
    width: 100%;
}

.container2 {
    width: 100%;
    flex-direction: column;
}

.menu {
    flex: 1;
    padding: 20px;
}

.sidebar {
    width: 250px;
    background: #f4f4f4;
    padding: 20px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#clear-cart {
    background: #dc3545;
}

#clear-cart:hover {
    background: #a71d2a;
}

.afrekenen {
    background: #00b637;
}

.afrekenen:hover {
    background: #008c2b;
    transform: scale(1.05);
}

ul {
    list-style: none;
    padding: 0;
}
